/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;700&display=swap');

:root {
    --color1: #A8DF8E;
    --color2: #F3FDE8;
    --color3: #FFE5E5;
    --color4: #FFBFBF;
    --headerSize: 15vh;
    --headerBackground: linear-gradient(white, white);
    --gapBtwSections: 500px;
    --SectionTitleSize: 3rem;
    --GapAfterSectionTitle: 5vh;
    --contactLogoHeight: 100px;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Source Code Pro', monospace;
}

html {
    scroll-behavior: smooth;
}

/* TRANSITION */
a, 
.btn {
    transition: all 300ms ease;
}

/* DESKTOP-NAV */
nav, 
.nav-links {
    display: flex;
}

nav {
    position: fixed;
    justify-content: space-around;
    align-items: center;
    background-image: var(--headerBackground);
    height: var(--headerSize);
    width: 100%;
}

.nav-links {
    gap: 2rem;
    list-style: none;
}

.nav-links a {
    font-size: 1.5rem;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    text-decoration-color: black;
}

.logo {
    font-family: 'Qwitcher Grypen', cursive;
    font-size: 4rem;
}

.logo:hover {
    cursor: default;
}

/* HAMBURGER-NAV */

#hamburger-nav {
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: black;  
    transition: all 0.3 ease-in-out; 
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
}

.hamburger-icon span:first-child {
    opacity: 1;
}

.hamburger-icon span:first-child {
    transform: none;
}

/* SECTIONS */

#AllSections {
    padding-top: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: var(--gapBtwSections);
}

section {
    margin-top: - var(--headerSize);
    padding-top: var(--headerSize);
}

section h1 {
    font-size: var(--SectionTitleSize);
    text-align: center;
    font-weight: normal;
}

/* ABOUT */
#About {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--GapAfterSectionTitle);
}

#About p {
    color: black;
    font-size: 1.5rem;
    text-align: center;
    width: 75%;
}

/* LECTURES */
#Lectures {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--GapAfterSectionTitle);
}

#AllSemester {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-evenly;
}

#Lectures li {
    margin: 10px;
}

#Lectures a {
    padding: 5px;
    border-radius: 20px;
}

#Lectures a:hover {
    text-decoration: none;
    color: white;
    background-color: black;
}

#Lectures ul {
    list-style: none;
    margin-bottom: 20px;
}

.Semester {
    flex-grow: 1;
}

.Semester h1 {
    font-size: 2rem;
    font-weight: normal;
}

.Fach h2 {
    font-size: 1.5rem;
    font-weight: normal;
    text-decoration-line: underline;
}

/* COOL LINKS */

#CoolLinks {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: var(--GapAfterSectionTitle);
}

.links {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: flex-start;
}

.links a {
    margin: 20px;
    padding: 10px;
    border-radius: 40px;
    color: white;
    background-color: black;
}

.links a:hover {
    color: black;
    border-color: black;
    background-color: white;
    text-decoration: none;
}

/* CONTACT */

#Contact {
    /* height: 30vh; */
    display: flex;
    flex-direction: column;
    gap: var(--GapAfterSectionTitle);
    padding-bottom: calc(3*var(--headerSize));
}

.contactLinks {
    display: flex;
    justify-content: center;
    gap: 30px;
}

#Contact a img {
    height: var(--contactLogoHeight);
}
